<nav id = "nav1" class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <div class="row">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2">
    <img id="img1" src="assets/appIcon.jpg" alt="some error occured" >
    </div>
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-10">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">


      <ul id="ul1" class="navbar-nav" style="width: 50%;">


               <li id="li1" class="nav-item disabled">

                      <h1 style="color:brown">Shopping.com</h1>

               </li>
      </ul>


      <ul id="ul2" class="navbar-nav">

                <li   id="li7" class="nav-item" routerLink="">
                                <b>Home</b>
                </li>

                <li id="li3" class="nav-item dropdown">
                         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: brown">
                         <b>Categories</b></a>
                         <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: pink">
                                          <a class="dropdown-item" href="#" ><small style="color: brown">Electrical</small></a>
                                          <a class="dropdown-item" href="#"><small style="color: brown">clothes</small></a>
                                          <a class="dropdown-item" href="#"><small style="color: brown">sports</small></a>
                                          <a class="dropdown-item" href="#"><small style="color: brown">beauty</small></a>
                                          <a class="dropdown-item" href="#"><small style="color: brown">personal care</small></a>
                                          <a class="dropdown-item" href="#"><small style="color: brown">baby</small></a>

                         </div>
               </li>

              <li id="li4" class="nav-item " routerLink="/login">

                          <a class="nav-link" ><b>Login</b></a>

              </li>

              <li id="li8" class="nav-item" routerLink="/registration">
                          <a class="nav-link" ><b>Registration</b></a>
              </li>

              <li id="li5" class="nav-item">

                          <div class="container" routerLink="/my-cart">

                                               <img id="img2" src="assets/ShoppingCart.png" alt="some error occured">
                                               <div class="top-right"><h5 style="color:white"><b>0</b></h5></div>
                                               <div class="bottom-right"><h6><b>Cart</b></h6></div>
                          </div>

              </li>

      </ul>
      </div>
      </div>
      </div>
    </div>
  </nav>
