<app-header></app-header>
<div class="row" style="margin-top: 1px">

      <div class="col-sm-1 col-lg-1" style="margin: 0px;padding: 0px">

              <div style="margin-left: 30px;padding: 0px">
              <img id="img4" src="assets/frontview.jpg"  (click)="onMouseHover('img4')" alt="some error occured" style="height:40px; width:50px; border: 4px solid gray;margin: 10px"><br>
              <img id="img5" src="assets/sideView.jpg" (click)="onMouseHover('img5')" alt="some error occured" style="height:40px; width:50px; border: 4px solid gray;margin: 10px"><br>
              <img id="img6" src="assets/upperView.jpg" (click)="onMouseHover('img6')" alt="some error occured" style="height:40px; width:50px; border: 4px solid gray;margin: 10px">
              </div>
      </div>
      <div  class="col-sm-5 col-lg-5" style="margin: 0px;padding: 0px;background: linear-gradient(gray,white)">
               <img id="img3" src="assets/upperView.jpg" alt="some error occured" style="width: 100%;height:60%">
      </div>


      <div class="col-sm-3 col-lg-3" style="margin: 0px;padding: 0px">

        <div style="margin-left:5px">
        <h5>Sony WHXB900 Extra Bass Wireless Noise Cancelling Headphones</h5>
        <hr>
        <p><b>Price:</b><span style="color: brown">$178.00</span></p>
        <p><span style="color: gray">Style:</span> <b>WH-XB900N</b></p>
        <ul>
            <li><small>cancelling with enhanced deep punchy bass sound thanks to extra BASS technology</small></li>
            <li><small>Up to 30 hours battery life The quick Charge feature will also give you 60 minutes of play time after just 10 minutes charge</small></li>
            <li><small>Optimized for Google Assistant and Alexa for a seamless hands-free control and more</small></li>
            <li><small>Sleek design and long listen comfort</small></li>
            <li><small>Audio cable included</small></li>
        </ul>
        </div>
      </div>

      <div class="col-sm-3 col-lg-3"  style="margin: 0px;padding: 0px">
                <div style="border: 1px solid gray;margin: 50px;border-radius: 6%">
                  <img src="assets/appIcon.jpg" alt="some error occured" style="width: 90px;height:60px ;display: block;margin-left: auto;margin-right: auto;border-radius: 50%">
                  <h4 style="margin-left:5px;margin-top: 50px">In stock:</h4>
                  <button type="button" style="border:1.2px solid black;background: linear-gradient(to right,orangered,orange,white);border-radius: 5%;display: block;margin-left: auto;margin-right: auto;margin-top: 5px;margin-bottom: 0px;width: 150px;height:50px">Add to cart</button><br>
                  <button type="button" style="border:1.2px solid black;background: linear-gradient(to right,orangered,orange,white);border-radius: 5%;display: block;margin-left: auto;margin-right: auto;margin-top: 0px;margin-bottom: 20px;width: 150px;height:50px">Buy Now</button>
                  <hr style="margin-bottom: 2px">
                  <h4 style="text-align: center;margin-top: 2px"><small>deliver in india</small></h4>
                </div>
      </div>

</div>
