  <div class="row">
    <div class="col-lg-4 col-sm-4">
    </div>
      <div class="col-lg-4 col-sm-4" style="margin-top: 10%;margin-bottom: 30%;border:1px solid pink; border-radius: 5%;box-shadow: pink" >
        <h1 style="color: pink;text-align: center;margin-top: 5px;margin-bottom: 5px">Login Page</h1>
        <img src="assets/appIcon.jpg" alt="some error ocurred" style="border-radius:50%;display:block;margin-left: auto;margin-right: auto; width: 90px;height: 60px">
        <form>
               <div class="form-group">
                   <label>mobile no. or email address:</label><br>
                   <input type="email" class="form-control" placeholder="enter email or mobile no.">
               </div>
               <div class="form-group">
                   <label>password:</label><br>
                   <input type="password" class="form-control" placeholder="enter your password">
               </div>
               <div class="form-group col-lg-3 col-sm-3" style="display: block;margin-left: auto;margin-right: auto">
                   <button type="submit" class="btn btn-primary">
                     submit
                   </button>
               </div>
        </form>
      </div>
      <div class="col-lg-4 col-sm-4">
      </div>
  </div>
