<app-header></app-header>
<div class="container" style="background: linear-gradient(gray,white)">
<h4 style="margin-bottom: 2px;margin-top: 5px;margin-left: 5px">Shopping Cart</h4>
<hr style="background: pink;margin-top: 0px">
<div id = "con1" class="container">
     <div class="container">
       <div class="row" >

                   <div class="col-sm-3" >
                        <img src="assets/headPhone.jpg" alt="some error ocurred" style="width: 100%;height:auto;margin:5px">
                   </div>
                   <div class="col-sm-6" >
                           <a href="#" style="margin: 5px"><b>
                            Sony Noise Cancelling Headphones WHCH710N: Wireless Bluetooth Over The Ear Headset with Mic for Phone-Call, Black (WHCH710N/B)</b> </a>
                            <p><small style="color: green">In stock</small></p>

                            <div class="d-inline dropdown">
                              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                Qunatity
                              </button>
                              <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">1</a>
                                <a class="dropdown-item" href="#">2</a>
                                <a class="dropdown-item" href="#">3</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" >3+</a>
                              </div>
                            </div>

                            <div class="d-inline" style="border-left: 2px solid blue;margin: 2px">
                            </div>
                            <a class="d-inline" ><small style="color:blue"><b>Delete</b></small></a>
                            <div class="d-inline" style="border-left: 2px solid blue;margin: 2px">
                            </div>
                            <a class="d-inline" ><small style="color:blue"><b>Save for later</b></small></a>
                   </div>

                   <div class="col-sm-3">
                            <h2 style="color: brown">Price:</h2>
                            <h2 style="color:brown">Rs. 600</h2>
                   </div>

                   <div style="border-bottom:1px solid gray"></div>

                <div class="col-sm-3" >
                    <img src="assets/upperView.jpg" alt="some error ocurred" style="width: 100%;height:auto;margin:5px">
               </div>
               <div class="col-sm-6" >
                       <a href="#" style="margin: 5px"><b>
                        Sony Noise Cancelling Headphones WHCH710N: Wireless Bluetooth Over The Ear Headset with Mic for Phone-Call, Black (WHCH710N/B)</b> </a>
                        <p><small style="color: green">In stock</small></p>

                        <div class="d-inline dropdown">
                          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            Qunatity
                          </button>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">1</a>
                            <a class="dropdown-item" href="#">2</a>
                            <a class="dropdown-item" href="#">3</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" >3+</a>
                          </div>
                        </div>

                        <div class="d-inline" style="border-left: 2px solid blue;margin: 2px">
                        </div>
                        <a class="d-inline" ><small style="color:blue"><b>Delete</b></small></a>
                        <div class="d-inline" style="border-left: 2px solid blue;margin: 2px">
                        </div>
                        <a class="d-inline" ><small style="color:blue"><b>Save for later</b></small></a>
               </div>

               <div class="col-sm-3">
                        <h2 style="color: brown">Price:</h2>
                        <h2 style="color:brown">Rs. 800</h2>
               </div>


     </div>
     </div>
     <div class="container" style="border: 1px solid gray;margin-bottom: 5px">
      <p> your recently viewed item</p>
     <div class="row" >
            <div class="col-sm-4">
              <img src="assets/upperView.jpg" alt="some error ocurred" style="width: 100%;height:160px;margin:5px">
            </div>
            <div class="col-sm-4">
              <img src="assets/sideView.jpg" alt="some error ocurred" style="width: 100%;height:156px;margin:5px">
            </div>
            <div class="col-sm-4">
              <img src="assets/frontview.jpg" alt="some error ocurred" style="width: 100%;height: 160px;margin:5px">
            </div>

     </div>
    </div>
</div>
</div>
